body{

    background-color: #1E1F28;
}

h1{

color: #ffff;

}

#clear-results{

    width: 10em;

}

.recent-search{

display:flex;
justify-content: flex-start;
flex-wrap: wrap;
margin: 20px 0px;

}


.wrap-buttons{
border: 1px solidd lightgrey;
margin-left: 1em;
border-radius: .5em;

}


.giphy-content{

column-count: 2;


}


.giphyimg{

    width: 50%;

    height: 100%;

}
